:root {
  --gutter: 2;
  --maxMargin: 2px;
  --scale: 33vmin;
  --max: 100;
  --borderRadius: 2px;
  --font: 2.5vmin;
}

@media (max-width: 650px), (max-height: 650px) {
  :root {
    --gutter: 1;
    --scale: calc(var(--max) * 1vmin);
    --font: 4vmin;
  }
}
