<nav class="left">
    <ul class="social-links bottom">
        <li><a href="twitter.com/thewritecoder"><i class="icon fab fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="github.com/thewritecoder"><i class="icon fab fa-github-square" aria-hidden="true"></i></a></li>
        <li><a href="linkedin.com/in/julianmm"><i class="icon fab fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>
</nav>

<span class="legal-text right">Copyright <i class="icon fa fa-copyright"></i> 2020 JM Creative</span>
