<nav class="left">
    <ul class="social-links bottom">
        <li><a target="_blank" href="https://twitter.com/julianscodeword"><i class="icon fab fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://github.com/julianscodeword"><i class="icon fab fa-github-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://linkedin.com/in/julianmm"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
</nav>

<span class="legal-text right">Copyright <i class="icon fa fa-copyright"></i> 2020 JM Creative</span>
