<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fafafa">

<base href="/" target="_blank">

<!--<link rel="manifest" href="site.webmanifest">-->
<link rel="apple-touch-icon" href="icon.png">
<link rel="icon" href="favicon.ico" sizes="128x128" type="image/x-icon">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap">
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Slab&display=swap" rel="stylesheet">

<!-- ANGULAR-->
<link rel="stylesheet" href="/assets/angular/styles.css">
