<script src="https://kit.fontawesome.com/f3ee89d684.js" crossorigin="anonymous" SameSite="none Secure"></script>

<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
</script>

<script src="https://www.google-analytics.com/analytics.js" async></script>

<!-- ANGULAR -->
<script src="/assets/angular/runtime.js" type="module"></script>
<script src="/assets/angular/polyfills.js" type="module"></script>
<script src="/assets/angular/main.js" type="module"></script>
<script src="/assets/js/scripts.js" type="module"></script>
