<script src="/assets/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
<script src="https://kit.fontawesome.com/f3ee89d684.js" crossorigin="anonymous" SameSite="none Secure"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/xword.js"></script>

<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
</script>

<script src="https://www.google-analytics.com/analytics.js" async></script>

<!-- ANGULAR -->
<script src="/assets/angular/runtime-es2015.js" type="module"></script>
<script src="/assets/angular/runtime-es5.js" nomodule defer></script>
<script src="/assets/angular/polyfills-es5.js" nomodule defer></script>
<script src="/assets/angular/polyfills-es2015.js" type="module"></script>
<script src="/assets/angular/main-es2015.js" type="module"></script>
<script src="/assets/angular/main-es5.js" nomodule defer></script>
