// Move the title to the top of the page, with the menu in line with the rest of content

.main {
    font-family: 'Zilla Slab', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3vmin;
    border-radius: 2px;
    font-size: var(--font);
    line-height: calc(1.5 * var(--font));
    overflow: hidden;
    transition: 500ms opacity;
}

.main, .main a {
    color: rgba(17, 50, 51, 1.0);
}

.main a {
    font-weight: bold;
}

.aside {
    color: white;
    width: var(--unit);
}

.header {
    margin: 0 0 0 2vmin;
}

.header h1 {
    font-size: calc(2 * var(--font));
    line-height: calc(2 * var(--font));
    color: white;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: normal;
}

.footer {
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    font-size: calc(0.75 * var(--font));
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    overflow: hidden;
    background-color: rgba(17,50,51,1);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: var(--thumbnail);
}

body.navigating {
    .main {
        opacity: 0;
        pointer-events: none;
    }    
}

.social-links li {
    margin-top: calc(2 * var(--margin));
    display: inline-block;
    font-size: 0;
}

.social-links a {
    color: rgba(255, 255, 255, 0.8);
    font-size: calc(1.5 * var(--font));
    display: inline-block;
    height: calc(1.35 * var(--font));
    line-height: var(--font);
    transition: 500ms color;
}

.social-links a:hover {
    color: rgba(255, 255, 255, 1.0);
}

.social-links i {
    line-height: 0.9;
    display: inline-block;
}

.breadcrumb {
    color: white;
}

.header {
    user-select: none;
}

.legal-text {
    user-select: none;
    pointer-events: none;
}

// Post Entries
.entries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    --entryWidth: 50%;

    .entry {
        display: block;
        font-size: 3vmin;
        background-size: cover;
        border-radius: 0.5vmin;
        margin: 1vmin;
        padding: 1vmin;
        width: calc(var(--entryWidth) - 2vmin);
        filter: saturate(0.3);
        transition: filter 500ms;

        &:hover { filter: unset; }

        .link {
            display: block;
            margin: 2vmin;
            padding: 2vmin;
            background-color: rgba(255, 255, 255, 0.7);
            color: black;
        }
        .title, .description, .date { display: block; }
        .title { font-size: 100%; }
        .description, .date { font-size: 60%; }
        .date { font-weight: bold; }
    }
}

article {
    column-count: 2;
    column-fill: auto;
    column-gap: 3%;
    height: 100%;

    .decoration {
        max-width: 100%;
        width: 50%;
        float: left;
        margin: 0.5em 0.5em 0.5em 0;
    }
    
    .right {
        float: right;
        margin: 0.5em 0 0.5em 0.5em;
    }
    
    p {
        margin: 0 0 1em 0;
    }
    
    img {
        object-fit: cover;
        object-position: center;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0.25em;
    }
    
    q {
        display: block;
        font-size: 1.25em;
        line-height: 1.25em;
        font-style: italic;
        padding: 1em;
        background: #113233;
        color: white;
        text-align: center;
        break-inside: avoid;
        margin: 0;
        border-radius: 0.25em;
        word-break: break-word;
    }
}

x-book > * {
    opacity: 0;
    transition: opacity 500ms;
}

x-book.ready > * {
    opacity: 1;
}

h1, h2, h3, p { margin: 0 0 2vmin 0; padding: 0; }

.summary {
    .item {
        .title {}
        .description {}
    }
}

pre {
    background-color: #222222;
    color: white;
    padding: 2vmin;
    font-size: 0.7em;
    font-family: monospace;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.ratings {
    margin: 2vmin 0;

    .rating {
        width: 100%;
        height: 6vmin;
        margin-bottom: 1vmin;

        .type {
            display: inline-block;
            width: 10%;
            text-align: center;
            vertical-align: top;
            line-height: 6vmin;
        }

        .bar {
            display: inline-block;
            width: 80%;
            background-color: rgba(17, 50, 51, 0.2);
            border-radius: 1vmin;
            height: 100%;
            mix-blend-mode: darken;

            .fill {
                display: inline-block;
                background-color: #113233;
                border-radius: 1vmin;
                height: 100%;
                text-align: right;

                &:after {
                    display: inline-block;
                    margin-right: 1vmin;
                    line-height: 6vmin;
                    color: white;
                    height: 6vmin;
                }

                &.fill-0 { width: 10%; }
                &.fill-0:after { content: "0%"; }

                &.fill-1 { width: 20%; }
                &.fill-1:after { content: "20%"; }

                &.fill-2 { width: 40%; }
                &.fill-2:after { content: "40%"; }

                &.fill-3 { width: 60%; }
                &.fill-3:after { content: "60%"; }

                &.fill-4 { width: 80%; }
                &.fill-4:after { content: "80%"; }

                &.fill-5 { width: 100%; }
                &.fill-5:after { content: "100%"; }
            }
        }
    }
}
