.main {
    font-family: 'Zilla Slab';
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(17, 50, 51, 1.0);
    padding: 3vmin;
    border-radius: 2px;
    font-size: var(--font);
    overflow: hidden;
    transition: 500ms opacity;
}

.aside {
    color: white;
}

.footer {
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    font-size: calc(0.75 * var(--font));
}

body {
    margin: 0;
    background-color: rgba(17, 50, 51, 1.0);
    font-family: Nunito, sans-serif;
    overflow: hidden;
}

body.navigating .main {
    opacity: 0;
    pointer-events: none;
}

.social-links li {
    margin-top: calc(2 * var(--margin));
    display: block;
}

.social-links a {
    color: rgba(255, 255, 255, 0.8);
    font-size: var(--unit);
    display: inline-block;
    transition: 500ms color;
}

.social-links a:hover {
    color: rgba(255, 255, 255, 1.0);
}

.social-links i {
    line-height: 0.9;
    display: inline-block;
}
