body {
    background-color: rgba(41, 51, 48, 1.0);
}

main {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

footer {
    color: rgba(255, 255, 255, 0.4);
}

a {
    color: white;
}

.social-links i {
    color: rgba(255, 255, 255, 0.4);
}

.social-links a:hover i {
    color: rgba(255, 255, 255, 0.6);
}
