.tltrbr {
    display: grid;
    height: var(--vh);
    max-height: var(--vh);
    width: 100vw;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas:
        "TL TR"
        "BL BR";
    grid-auto-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4vmin;

    .aside {
        grid-area: TL;
        height: calc(100% - 2vmin);
        margin: 0 0 2vmin 0;
    }
    
    .main {
        grid-area: TR;
        margin: 0 0 2vmin 2vmin;
        // height: calc(100% - 2vmin);
        height: 250px;
        width: calc(100% - 2vmin);
    }
    
    .footer {
        grid-area: BR;
        margin: 0 0 0 2vmin;
        width: calc(100% - 2vmin);
    }    
}

.tmb {
    display: grid;
    grid-template-areas:
        "T"
        "M"
        "B";
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;

    .top { grid-area: T; }
    .bottom { grid-area: B; }
}
