:root { --font: 2.5vmin; }

@media (max-width: 650px), (max-height: 650px) {
    :root { --font: 4vmin; }

    body.content { padding: 4vmin; }
    input, optgroup, select { flex-basis: calc(100% - 2vmin); }
}

@media (orientation: portrait) {
    input, optgroup, select { flex-basis: calc(100% - 2vmin); }

    .entries {
        --entryWidth: 100%;
    }

    .readable {
        column-count: 1;
    }    

    body.navigating {
        .header {
            opacity: 0;
            pointer-events: none;
        }    
    }

    .social-links li {
        display: inline;
    }

    body {
        align-items: flex-start;
        justify-content: center;
    }

    .header {
        margin: 0;
    }
    
    .content {
        grid-template-areas:
            "U UR"
            "T T"
            "M M"
            "B B";
        grid-template-columns: minmax(0, 1fr) max-content;
        grid-template-rows: max-content max-content minmax(0, 1fr) max-content;

        .header {
            grid-area: U;
            width: 100%;
        }

        .aside {
            grid-area: UR;
            width: 100%;
            height: var(--unit);
        }
    
        .main {
            grid-area: M;
            margin: 0;
            width: 100%;
        }
        
        .footer {
            grid-area: B;
            width: calc(100%);
            margin: 0;
        }
    }

    body.content {
        padding: 4vmin;
    }

    .tmb {
        grid-template-areas: "T M B";
        grid-template-columns: max-content minmax(0, 1fr) max-content;
        grid-template-rows: minmax(0, 1fr);
        height: unset;
    }
}

@media (max-width: 650px) and (orientation: portrait), (max-height: 650px) and (orientation: portrait) {
    .content {
        grid-template-areas:
            "U U"
            "T T"
            "M M"
            "B B";

        .header { grid-area: T; }
        .aside { grid-area: U; }
    }
}
