:root {
    --columns: 12;
    --gutter: 2;
    --rows: 6;
    --extra: 3;
    --scale: 33vmin;
    --max: 95;
    --maxScale: calc(var(--max) * 1vmax);
    --m: calc(var(--columns) + 2 * var(--gutter));
    --n: var(--rows);
    --ratio: calc(var(--m) / var(--n));
    --flippedRatio: calc(1 / var(--ratio));
    --xScale: min(var(--scale), calc(var(--maxScale) * var(--flippedRatio)));
    --font: 4vmin;
    --effectiveN: calc(var(--rows) + var(--extra));
    --unit: calc(var(--xScale) / var(--effectiveN));
}

@media (max-width: 650px), (max-height: 650px) {
    :root {
        --gutter: 1;
        --scale: calc(var(--max) * 1vmin);
        --font: 4vmin;
        --effectiveN: calc(var(--rows) + var(--extra));
        --unit: calc(var(--xScale) / var(--effectiveN));
    }
}

@media (orientation: portrait) {
    .social-links li {
        display: inline;
    }
}

@media (orientation: portrait) {
    body {
        align-items: flex-start;
        justify-content: center;
    }

    .main {
        font-size: var(--font);
    }

    .tltrbr {
        grid-template-areas:
            "T"
            "M"
            "B";
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;

        .aside {
            grid-area: T;
            height: unset;
            width: 100%;
        }
    
        .main {
            grid-area: M;
            margin: 0;
            width: 100%;
        }
        
        .footer {
            grid-area: B;
            width: calc(100% - 2vmin);
        }        
    }

    .tmb {
        grid-template-areas: "T M B";
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: 1fr;
        height: unset;
    }
}
