.xword:not(.small) .letter:before{
    content: '';
    position: absolute;
    top: 15%;
    left: 3%;
    width: 94%;
    height: 35%;
	transform: skew(0deg, -5deg);
    background:rgba(255, 255, 255, 0.1);
    background: linear-gradient(175deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 90%);
	border-radius: 10%;
}
