.xword {
    display: none;
    color: #293330;
	height: 86vh;
	width: 86vw;
    margin: 6vh 6vw;
	font-family: 'Roboto Slab', serif;
    line-height: 0;
}

.visible.xword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.xword a {
    cursor: default;
}

.xword .word {
    display: contents;
}

.xword .xline {
    display: flex;
    justify-content: center;
    width: 100%;
}

.xword .head, .xword .tail {
    flex-basis: 50%;
}

.xword .outer {
    display: inline-block;
}

.xword .outer .letter {
    opacity: 0;
}

.xword .head {
    text-align: right;
}

.xword .word-part {
    cursor: pointer;
}

.xword .letter {
    text-align: center;
	display: inline-block;
	padding: 1vw;
    line-height: 2vw;
    height: 2vw;
    width: 2vw;
    margin: 0.25vw;
	background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.15vw;
	position: relative;
	overflow: hidden;
    transition: background-color 250ms;
}

.xword .body .letter {
	background-color: rgba(255, 255, 255, 0.2);
}


/*
** Small
*/

.xword.small {
    width: 18vw;
    height: 25vh;
    margin: 8vh 2vw;
}

.xword.small .head, .xword.small .tail {
    flex-basis: auto;
}

.xword.small .xline {
    justify-content: flex-end;
    position: relative;
    margin-bottom: 0.35vw;
}

.xword.small .letter {
    width: 1vw;
    height: 1vw;
    line-height: 1vw;
    padding: 0.4vw;
    font-size: 0.6em;
    margin: 0.1vw;
    border-radius: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.xword.small .outer .letter {
    opacity: 1;
}

.xword.small .xline .letter {
	background-color: rgba(255, 255, 255, 0.3);
}

.xword.small .xline.selected .letter {
	background-color: rgba(255, 255, 255, 0.5);
}

/*
** X-Word Active
*/

.xword.active:not(.small) .xline:nth-child(odd) .letter {
    background-color: rgba(255, 255, 255, 0.3);
}

.xword.active:not(.small) .xline .body .letter {
    background-color: rgba(255, 255, 255, 0.5);
}

.xword.active .outer .letter {
    opacity: 1;
}

/*
** Logo can be six black squares in a line, with j in the first one?
*/

.xword.disappear .letter,
.xword.disappear .outer .letter {
    opacity: 0;
}
