.xword.active .xline:nth-of-type(1).active .letter {
	background-color: rgba(206, 79, 79, 1);
}

.xword.active .xline:nth-of-type(2).active .letter {
	background-color: rgba(202, 234, 18, 1);
}

.xword.active .xline:nth-of-type(3).active .letter {
	background-color: rgba(232, 82, 55, 1);
}

.xword.active .xline:nth-of-type(4).active .letter {
	background-color: rgba(255, 96, 246, 1);
}

.xword.active .xline:nth-of-type(5).active .letter {
	background-color: rgba(67, 222, 200, 1);
}

.xword.active .xline:nth-of-type(6).active .letter {
	background-color: rgba(139, 255, 86, 1);
}
